.header {
  padding: 1px;
  text-align: center;
  background: #3060AA;
  color: white;
  font-size: 14px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  z-index: 1;
  position: fixed;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  float: right;
  top: 0px;
}

.impos {
  display: block;
  margin-left: 4%;
  margin-right: 0%;
}

.mat-progress-bar {
  position: fixed;
  display: flex;
  z-index: 2;
  top: 64px;
}

.iconButton:last-child {
  margin-right: 60px;
}

.iconButton:focus {
  outline: none;
}

.innerIcon {
  position: absolute;
  top: 8.4px;
  left: 7.5px;
  font-size: medium;
  color: #3060AA;
  font-weight: bold;
}

.iconButton.hasNotifications::after {
  content: ".";
  position: absolute;
  display: flex;
  color: #EB2A75;
  font-size: 70px;
  bottom: 24px;
  left: 16px;
}

.user-info {
  font-size: small;
  line-height: 20px;
  background-color: #254f90;
  border-radius: 5px;
  padding: 3px 10px;
  display: flex;
}

.user-info-button {
  height: 30px;
  background-color: #ccc;
  width: 30px;
  border-radius: 20px;
  margin-left: 35px;
}