.res {
    margin-left: 15%;
    width: 85%;
    display: block;
    z-index: -1;
}

.button {
    background-color: #3060aa;
    color: white;
    width: 10%;
    text-decoration: none;
    cursor: pointer;
}