<div class="w3-sidebar w3-light-grey w3-bar-block ">
    <div class="list-container">
        <div class="list-tittle"> Otions </div>
        <ul id="zero">
            <a routerLink="" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">
                <li id="li-container">
                    <img class="icon" src="assets/pethouse.svg" style="height: 20%"/> Home
                </li>
            </a>
            <a routerLink="create" routerLinkActive="is-active">
                <li id="li-container">
                    <img class="icon" src="assets/pet-add.svg" />Add Pet
                </li>
            </a>
        </ul>
    </div>
</div>